@use 'typography' as *;
@use 'mixin' as *; 
@use 'variables' as *; 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

body {
    font-family: "Nunito Sans";}

    .header {
        @include flex-column; 
        background-color: $primary-colorBlack;
        padding-top: .875rem; 
        padding-bottom: 1rem;    
    
        @include tablet {
            @include flex-start;  
            flex-direction: row; 
            @include justify-align; 
        }
    
    &__nav {
        @include flex-column; 
        height: 4.375rem;
        background-color: $primary-colorBlack;
    
        @include tablet {
            @include flex-row;
            max-height: 100%;
            padding: 0; 
        } 
        }
        
    &__logo {
            margin-top: 1rem;
            padding: 0;
            @include flex-column; 
            @include tablet {
                padding-right: 6.25rem;
                padding-left: 3.125rem;
    
            }
    }
        
    &__logo-img {
            width: 11.25rem;
            margin-bottom: .75rem;
            @include tablet {
                width: 7.5rem;
            }
        }
    
    &__list {
            @include list-style; 
            @include flex-row; 
            margin-top: 0.5rem;
            width: 100%;
    
            } 
    
    &__item {
                text-align: center;
                border-bottom: 0.2125rem solid transparent;
                color: $primary-colorWhite;
                display: inline-block; 
                padding-top: 0.75rem; 
                padding-bottom: 1.5625rem; 
                @include tablet {
                    padding-bottom: 0; 
                }
            }
    
    &__item--biography {
                @include list-style; 
                padding-bottom: 0.44rem;
                padding-top: .75rem;
                font-size: 1.25rem;
                color: $primary-colorWhite;
                padding-right: 6.25rem;
                &:hover {
                    border-bottom: 0.4125rem solid $primary-colorWhite; 
                }
                @include tablet {
                    font-size: 1.5625rem; 
                }
    
                }
    
    &__item--shows {
            @include list-style; 
            font-size: 1.25rem;
            color: $secondary-colorMercury;
            &:hover {
                border-bottom: 0.4125rem solid $primary-colorWhite; 
        
            }
        }

    }


    /*--------------------
Footer-section
------------------------*/
footer {
    display: flex; /* should set the big parent container to be column, and the direct parent of 3 child to be in one row while the elements of each child to be in a column fo in order to get the results */ 
    flex-direction: column;
}
.footer-section {
    color: $primary-colorWhite;
    background-color: $primary-colorBlack;
    display: flex;
    flex-direction: column;

    @include desktop {
        padding-left: 5rem; 
        padding-right: 5rem; 
    }

&__media {
    @include flex-start; 
    justify-content: flex-start; 
    @include tablet {
        @include flex-row; 
        justify-content: space-between;
        align-items: center;
    }
}

&__heading {
    font-size: 1.875rem;
    padding-left: 1.25rem;
    padding-top: 2.1875rem;
    @include tablet {
        font-size: 2.5rem; 
        padding-left: 1.5625rem; 
        padding-top: 2.875rem;
        }
    @include desktop {
        font-size: 2.8125rem;
    }
        }


&__images {
            display: flex;
            gap: 3.125rem;
            padding-left: 1.25rem;
            padding-top: 1.875rem; 
            // padding-bottom: 1.875rem;
        @include tablet {
            padding-left: 1.5625rem; 
            justify-content: space-around;
            padding-top: 2.875rem;
            align-items: center;
            padding-bottom: 0;
            }

        }
    
        
&__logo {
    display: none;
    @include tablet {
        display: flex;
        padding-left: 1.5625rem; 
        justify-content: space-around;
        padding-top: 2.875rem;
        align-items: center;
        padding-bottom: 0; 
        padding-right: 1.25rem;
        @include desktop {
            padding-right: 1.25rem;
        }
    }
}

&__bottom-logo {
    padding-left: 1.25rem; 
    padding-top: 3.6rem;

    @include tablet {
        display: none
    }
}

&__middle{ /* in this section, if you visualize, all the elements are the same, easier to apply the same class names across the three sections to keey the code DRY */ 
    @include flex-start; 
    justify-content: space-evenly;
@include tablet
{@include flex-row; 
    font-size: 1.125rem;
    padding-left: 1.125rem; 
        justify-content: space-between;
        padding-top: 2.875rem;
        align-items: center;
        padding-bottom: 0; 
        padding-right: .125rem; 
        @include desktop {
            padding-left: 0;
            justify-content: space-between;
            padding-right: 0;
        }
    }
}

&__entity {
    padding: 1rem;
    gap: 1.25rem;
    font-size: 1.125rem;
    padding-left: 1.25rem;
    padding-bottom: 1.125rem;
    font-weight: 500; 
    @include tablet {
    padding-top: 0; 
    @include desktop {
        font-size: 1.3rem; 
        font-weight: bold; 
        padding-bottom: 2rem; 
        padding-top: 2.5rem;
    }
}
}

&__entityAddress {
    @include list-style; 
    padding-left: 1.25rem; 
    font-style: normal;
    font-size: .875rem;
    padding-top: .625rem;
    padding-bottom: 1.25rem;

    @include tablet {
    padding: .75rem;
gap: 1.25rem;
font-style: normal;
font-weight: 400;
font-size: .875rem; 
padding-bottom: 1.25rem;

@include desktop {
    font-size: 1.125rem;
    padding-bottom: 2.5rem;
}
}
}

&__email {
    text-decoration: none;
    color: $primary-colorWhite;
    padding-left: 1.25rem; 
    font-size: .875rem; 
    @include tablet {
    padding: .75rem;
    gap: 1.25rem; 
    font-weight: 400;
    font-style: normal;
    font-size: .875rem; 
    padding-bottom: 1.25rem; 

    @include desktop {
        font-size: 1.125rem;
        padding-bottom: 1.875rem;
    }

}
}

&__text {
padding-top: 1rem; 
padding-bottom: 1.875rem;
padding-left: 1.25rem;
    @include tablet {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 3.125rem;
}
@include desktop {
    font-size: 1.125rem;
    padding-left: .9375rem;
    padding-bottom: 7.5rem;
    padding-top: 3.75rem;
}

}


}