@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
    @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
    @content;
    }
}


// @mixin mobile {
//     @media screen and (min-width: $mobile-breakpoint) {
//     @content;
//     }
// }

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin list-style {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

@mixin hero-position {
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
}

