@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
    @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
    @content;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@mixin flex-end {
    display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
}


@mixin iframe {
    width: 100%;
	height: 166px;
	font-size: 0.625rem;
	color: #cccccc;
	font-weight: 100;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	text-overflow: ellipsis;
	word-break: normal;
	overflow: hidden;
	white-space: nowrap;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin justify-align {
    justify-content: flex-start;
    align-items: center;
}

@mixin list-style {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

@mixin hero-position {
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
}

@mixin shows-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
