

@font-face {
    font-family: "Nunito Sans";
    src: url('../assets/fonts/NunitoSans-Bold.woff') format("woff"), 
    url('../assets/fonts/Alternative-files/NunitoSans-Bold.woff2') format(woff2); 
    font-weight: 700;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('../assets/fonts/NunitoSans-Medium.woff') format("woff"), 
    url('../assets/fonts/Alternative-files/NunitoSans-Medium.woff2') format(woff2); 
    font-weight: 500;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('../assets/fonts/NunitoSans-Regular.woff') format(woff), 
    url('../assets/fonts/NunitoSans-Regular.woff2') format(woff2);
    font-weight: 400;
}

// h1  {
//     font-family: "Nunito Sans"; 
//     font-size: 24px; 
//     line-height: 2rem;

// }

// h2 {

//     font-family: "Nunito Sans";
//     // font-size: 1.5rem;
//     font-weight: 500; 
//     line-height: 2rem;
// }

// h3 {

//     font-family:"Nunito Sans"; 
//     // font-size: .875rem; 
//     // font-weight: 600; 
//     line-height: 22px; 
// }

// p {
//     font-family: "Nunito Sans";
//     // font-size: .8125rem;
//     font-weight: 500;
//     line-height: 1.125rem; 
// }

// a {
//     font-family: "Nunito Sans";; 
//     // font-size: .8125rem;
//     font-weight: 400;
//     line-height: 1.125rem;
// }

// h4 {
//     font-family: "Nunito Sans";
    
// }