@use 'variables' as *;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 320px; 
$primary-colorBlack:#323232; 
$primary-colorSilver: #AFAFAF; 
$primary-colorWhite: #FFFFFF; 
$secondary-colorDarkBlack: #000000; 
$secondary-colorMercury: #E1E1E1; 
$secondary-colorAlabaster: #FAFAFA; 
