@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/Alternative-files/NunitoSans-Bold.woff2") format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../assets/fonts/Alternative-files/NunitoSans-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format(woff), url("../assets/fonts/NunitoSans-Regular.woff2") format(woff2);
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding-top: 0.875rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    padding: 0;
  }
}
.header__logo {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-right: 6.25rem;
    padding-left: 3.125rem;
  }
}
.header__logo-img {
  width: 11.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .header__logo-img {
    width: 7.5rem;
  }
}
.header__list {
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}
.header__item {
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .header__item {
    padding-bottom: 0;
  }
}
.header__item-first {
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding-bottom: 0.44rem;
  padding-top: 0.75rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-right: 6.25rem;
}
.header__item-first:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__item-first {
    font-size: 1.5625rem;
  }
}
.header__item-second {
  list-style: none;
  padding: 0;
  text-decoration: none;
  font-size: 1.25rem;
  color: #E1E1E1;
}
.header__item-second:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}

/*--------------------
Footer-section
------------------------*/
footer {
  display: flex; /* should set the big parent container to be column, and the direct parent of 3 child to be in one row while the elements of each child to be in a column fo in order to get the results */
  flex-direction: column;
}

.footer-section {
  color: #FFFFFF;
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .footer-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.footer-section__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-section__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-section__heading {
  font-size: 1.875rem;
  padding-left: 1.25rem;
  padding-top: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .footer-section__heading {
    font-size: 2.5rem;
    padding-left: 1.5625rem;
    padding-top: 2.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__heading {
    font-size: 2.8125rem;
  }
}
.footer-section__images {
  display: flex;
  gap: 3.125rem;
  padding-left: 1.25rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
  .footer-section__images {
    padding-left: 1.5625rem;
    justify-content: space-around;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
  }
}
.footer-section__logo {
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer-section__logo {
    padding-left: 1.5625rem;
    justify-content: space-around;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
    padding-right: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__logo {
    padding-right: 1.25rem;
  }
}
.footer-section__middle { /* in this section, if you visualize, all the elements are the same, easier to apply the same class names across the three sections to keey the code DRY */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .footer-section__middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.125rem;
    padding-left: 1.125rem;
    justify-content: space-between;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
    padding-right: 0.125rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__middle {
    padding-left: 0;
    justify-content: space-between;
    padding-right: 0;
  }
}
.footer-section__entity {
  padding: 1rem;
  gap: 1.25rem;
  font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-bottom: 1.125rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer-section__entity {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__entity {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
  }
}
.footer-section__entityAddress {
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding-left: 1.25rem;
  font-style: normal;
  font-size: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer-section__entityAddress {
    padding: 0.75rem;
    gap: 1.25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__entityAddress {
    font-size: 1.125rem;
    padding-bottom: 2.5rem;
  }
}
.footer-section__email {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 1.25rem;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .footer-section__email {
    padding: 0.75rem;
    gap: 1.25rem;
    font-weight: 400;
    font-style: normal;
    font-size: 0.875rem;
    padding-bottom: 1.25rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__email {
    font-size: 1.125rem;
    padding-bottom: 1.875rem;
  }
}
.footer-section__text {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer-section__text {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__text {
    font-size: 1.125rem;
    padding-left: 0.9375rem;
    padding-bottom: 7.5rem;
    padding-top: 3.75rem;
  }
}

.item-image {
  border-radius: 50%;
  width: 36px;
}

#item-form {
  display: flex;
  width: 100%;
  padding: 12px;
}

.border-bottom {
  border-bottom: 1px solid;
  color: #E1E1E1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.625rem;
}

#dynamicContent {
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 30px;
  padding-left: 30px;
  list-style: none;
}

.image-wrapper {
  width: 10%;
  padding-left: 10px;
}

.item-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#itemInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border-color: #E1E1E1;
  background-color: #FAFAFA;
  font-size: 1rem;
  color: #323232;
  padding-top: 0.125rem;
  padding-left: 0.625rem;
}

#itemComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border-color: #E1E1E1;
  background-color: #FAFAFA;
  color: #323232;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 10px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.wrapper__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #E1E1E1;
}

.wrapper {
  display: flex;
  align-items: flex-end;
}

.wrapper__name {
  padding-left: 1.25rem;
  padding-top: 1.25rem;
  font-weight: 600;
  padding-top: 1.25rem;
  font-size: 1.25rem;
}

.wrapper__dateTime {
  padding-left: 4.375rem;
  padding-top: 1.25rem;
  color: #E1E1E1;
  display: flex;
  justify-self: flex-end;
}

.comment-wrapper__comment {
  padding: 20px;
  padding-left: 30px;
}

.comment-wrapper {
  border-bottom: 1px solid #E1E1E1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper__avatar {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

button {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #323232;
  color: #FFFFFF;
  width: 100%; /* leaving this in px instead of rem because it is border, and we dont want the borders to change when the user zooms in */
}
@media screen and (min-width: 768px) {
  button {
    min-width: 150px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 30px;
  }
}

.button-container {
  color: #FFF;
  border: none;
  padding: 1rem 3rem; /* this range of padding is good for designing buttons and you can use it alongside inline blocks*/
  cursor: pointer; /* this will change the cursor to a pointer when you hover over the button */
  font-size: 1.3125rem;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.form-section__header {
  font-size: 1.875rem;
  padding: 1.25rem;
}

/* -----------------
Hero-section 
__________________________*/
.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  padding: 0;
  padding-left: 1.875rem;
  height: 14rem;
  opacity: 50%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__opacity {
  background: rgba(0, 0, 0, 0.5); /*opacity adds a different layer of color on top of an image */
}
.hero__title {
  font-size: 2rem;
  line-height: 2rem;
  color: #FFFFFF;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    font-weight: 500;
  }
}

/*--------------------
Bio-section
------------------------*/
.bio-section {
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .bio-section {
    display: flex;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.bio-section__image {
  width: 100%; /* a 100% width for the mobile version gives the screen the full width, with padding added to otherscreens the layout can become smaller */
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__image {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__image {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
.bio-section__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.875rem;
  line-height: 2rem;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  color: #323232;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .bio-section__heading {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    font-size: 2.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__heading {
    font-size: 2.7rem;
    padding-bottom: 3.2rem;
    padding-top: 2.2rem;
  }
}
.bio-section__quotes {
  font-size: 1.0938rem;
  line-height: 1.8125rem;
  color: #323232;
  padding-bottom: 0.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes {
    padding-left: 2.1875rem;
    font-size: 1.5313rem;
    line-height: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__quotes {
    padding-left: 6rem;
    padding-right: 8rem;
    font-size: 1.75rem;
    line-height: 2rem;
    padding-top: 1.875rem;
  }
}
.bio-section__quotes-modifier {
  font-size: 1.125rem;
  padding-bottom: 1.5625rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes-modifier {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__quotes-modifier {
    font-size: 1.5rem;
    padding-top: 0.625rem;
    font-weight: 500;
  }
}
.bio-section__sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 1.125rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .bio-section__sub-heading {
    display: flex;
    flex-direction: row;
    padding-left: 2.1875rem;
    padding-top: 1.5rem;
    font-size: 1.5625rem;
    padding-bottom: 1.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__sub-heading {
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
    font-size: 1.875rem;
  }
}
.bio-section .p-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio-section .p-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2.1875rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section .p-container {
    padding-left: 5rem;
  }
}
.bio-section__paragraphfirst {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphfirst {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__paragraphfirst {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.bio-section__paragraphsecond {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphsecond {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    padding-left: 1.875rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__paragraphsecond {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

/*--------------------
Album-section
------------------------*/
.album-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
  background-color: #FAFAFA;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .album-section {
    display: flex;
    justify-content: center;
    padding: 2.25rem;
    padding-top: 2.875rem;
  }
}
.album-section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 1.875rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .album-section__heading {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .album-section__heading {
    font-size: 3.4rem;
    padding-top: 2.25rem;
  }
}
.album-section__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem; /* I can set the filter to be grayscale 100%; and apply hovering effect, where i say when you hover the image, change the color from grayscale 100 to grayscale 0%, this will change the color */
  filter: grayscale(100%);
}
.album-section__details:hover { /*https://robinroelofsen.com/change-images-grayscale-color-hover */
  filter: grayscale(0) !important;
}
@media screen and (min-width: 768px) {
  .album-section__details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
    flex-direction: row;
    gap: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .album-section__details {
    padding-top: 2.25rem;
    padding-left: 1rem;
  }
}
.album-section__image {
  width: 100%; /* if i set the width to be a 100%, and set the parent class to be in columns, it will occupy 100% of the availble space in mobile layout, in order to change that for other screens, I have to set the parent container to be flex direction row, and give it a width of 30%, so I can create an album where there are three pictures per row */
}
@media screen and (min-width: 768px) {
  .album-section__image {
    max-width: 30%;
  }
}/*# sourceMappingURL=bio.css.map */