@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/Alternative-files/NunitoSans-Bold.woff2") format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../assets/fonts/Alternative-files/NunitoSans-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format(woff), url("../assets/fonts/NunitoSans-Regular.woff2") format(woff2);
  font-weight: 400;
}
h1 {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 2rem;
}

h2 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h3 {
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  line-height: 22px;
}

p {
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
}

a {
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

h4 {
  font-family: "Nunito Sans";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding-top: 0.875rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    padding: 0;
  }
}
.header__logo {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-right: 6.25rem;
    padding-left: 3.125rem;
  }
}
.header__logo-img {
  width: 11.25rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .header__logo-img {
    width: 7.5rem;
  }
}
.header__list {
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}
.header__item {
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .header__item {
    padding-bottom: 0;
  }
}
.header__item-first {
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding-bottom: 0.44rem;
  padding-top: 0.75rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  padding-right: 6.25rem;
}
.header__item-first:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__item-first {
    font-size: 1.5625rem;
  }
}
.header__item-second {
  list-style: none;
  padding: 0;
  text-decoration: none;
  font-size: 1.25rem;
  color: #E1E1E1;
}
.header__item-second:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  padding: 0;
  padding-left: 1.875rem;
  height: 14rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__opacity {
  background: rgba(0, 0, 0, 0.5);
}
.hero__title {
  font-size: 2rem;
  line-height: 2rem;
  color: #FFFFFF;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    font-weight: 500;
  }
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .bio-section {
    display: flex;
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.bio-section__image {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__image {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__image {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
.bio-section__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.875rem;
  line-height: 2rem;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  color: #323232;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .bio-section__heading {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
    font-size: 2.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__heading {
    font-size: 2.7rem;
    padding-bottom: 3.2rem;
    padding-top: 2.2rem;
  }
}
.bio-section__quotes {
  font-size: 1.0938rem;
  line-height: 1.8125rem;
  color: #323232;
  padding-bottom: 0.4rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes {
    padding-left: 2.1875rem;
    font-size: 1.5313rem;
    line-height: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__quotes {
    padding-left: 6rem;
    padding-right: 8rem;
    font-size: 30px;
    line-height: 2rem;
  }
}
.bio-section__quotes-modifier {
  font-size: 1.125rem;
  padding-bottom: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes-modifier {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__quotes-modifier {
    font-size: 1.5rem;
    padding-top: 0.625rem;
    font-weight: 500;
  }
}
.bio-section__sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 1.125rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .bio-section__sub-heading {
    display: flex;
    flex-direction: row;
    padding-left: 2.1875rem;
    padding-top: 1.5rem;
    font-size: 1.5625rem;
    padding-bottom: 1.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__sub-heading {
    padding-left: 5rem;
    padding-bottom: 48px;
    padding-top: 40px;
    font-size: 30px;
  }
}
.bio-section .p-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio-section .p-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2.1875rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section .p-wrapper {
    padding-left: 5rem;
  }
}
.bio-section__paragraphfirst {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphfirst {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .bio-section__paragraphfirst {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
.bio-section__paragraphsecond {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphsecond {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625rem;
    padding-left: 1.875rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .bio-section__paragraphsecond {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.album-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
  background-color: #FAFAFA;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .album-section {
    display: flex;
    justify-content: center;
    padding: 36px;
    padding-top: 46px;
  }
}
.album-section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 1.875rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .album-section__heading {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .album-section__heading {
    font-size: 3.4rem;
    padding-top: 36px;
  }
}
.album-section__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
  filter: grayscale(100%);
}
.album-section__details:hover { /*https://robinroelofsen.com/change-images-grayscale-color-hover */
  filter: grayscale(0) !important;
}
@media screen and (min-width: 768px) {
  .album-section__details {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
    flex-direction: row;
    gap: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .album-section__details {
    padding-top: 36px;
    padding-left: 16px;
  }
}
.album-section__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .album-section__image {
    max-width: 30%;
  }
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-section {
  color: #FFFFFF;
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .footer-section {
    padding-left: 80px;
    padding-right: 80px;
  }
}
.footer-section__media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .footer-section__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-section__heading {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 35px;
}
@media screen and (min-width: 768px) {
  .footer-section__heading {
    font-size: 40px;
    padding-left: 1.5625rem;
    padding-top: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__heading {
    font-size: 45px;
  }
}
.footer-section__images {
  display: flex;
  gap: 50px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer-section__images {
    padding-left: 1.5625rem;
    justify-content: space-around;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
  }
}
.footer-section__logo {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .footer-section__logo {
    padding-left: 1.5625rem;
    justify-content: space-around;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__logo {
    padding-right: 20px;
  }
}
.footer-section__middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .footer-section__middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding-left: 18px;
    justify-content: space-between;
    padding-top: 2.875rem;
    align-items: center;
    padding-bottom: 0;
    padding-right: 0.125rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__middle {
    padding-left: 0;
    justify-content: space-between;
    padding-right: 0;
  }
}
.footer-section__entity {
  padding: 1rem;
  gap: 1.25rem;
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer-section__entity {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__entity {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 40px;
  }
}
.footer-section__entityAddress {
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding-left: 20px;
  font-style: normal;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer-section__entityAddress {
    padding: 0.75rem;
    gap: 1.25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__entityAddress {
    font-size: 18px;
    padding-bottom: 40px;
  }
}
.footer-section__email {
  text-decoration: none;
  color: #FFFFFF;
  padding-left: 20px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer-section__email {
    padding: 0.75rem;
    gap: 1.25rem;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer-section__email {
    font-size: 18px;
    padding-bottom: 30px;
  }
}
.footer-section__text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .footer-section__text {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section__text {
    font-size: 18px;
    padding-left: 15px;
    padding-bottom: 120px;
    padding-top: 60px;
  }
}/*# sourceMappingURL=bio.css.map */