@use './partials/mixin' as *;
@use './partials/global' as *; 
@use './partials/variables' as *;
@use './partials/typography' as *;


  /* Create three equal columns that sits next to each other */

.header {
    @include flex-column; 
    background-color: $primary-colorBlack;
    padding-top: .875rem; 
    padding-bottom: 1rem;    

    @include tablet {
        display:flex; 
        flex-direction: row; 
        justify-content: flex-start; 
        align-items: center; 
    }


&__nav {
    @include flex-column; 
    height: 4.375rem;
    background-color: $primary-colorBlack;

    @include tablet {
        max-height: 100%;
        display: flex; 
        flex-direction: row; 
        justify-content:center; 
        padding: 0; 
    } 
    }
    
&__logo {
        margin-top: 1rem;
        padding: 0;
        @include flex-column; 

        @include tablet {
            // display: flex;
            // flex-direction: row;
            padding-right: 6.25rem;
            padding-left: 3.125rem;

        }
}
    
&__logo-img {
        width: 11.25rem;
        margin-bottom: .75rem;
        @include tablet {
            width: 7.5rem;
        }
    }

&__list {
        @include list-style; 
        @include flex-row; 
        margin-top: 0.5rem;
        width: 100%;

        } 

&__item {
            text-align: center;
            border-bottom: 0.2125rem solid transparent;
            color: #FFFFFF;
            display: inline-block; 
            padding-top: 0.75rem; 
            padding-bottom: 1.5625rem; 
            @include tablet {
                padding-bottom: 0; 
            }
        }

&__item-bio {
            @include list-style; 
            // @include flex-row;
            padding-bottom: 0.44rem;
            padding-top: .75rem;
            font-size: 1.25rem;
            color: #FFFFFF;
            padding-right: 6.25rem;
            &:hover {
                border-bottom: 0.4125rem solid #FFFFFF; 
            }
            @include tablet {
                font-size: 1.5625rem; 
            }

            }

&__item-shows {
        @include list-style; 
        // @include flex-row; 
        font-size: 1.25rem;
        color: #E1E1E1;
        &:hover {
            border-bottom: 0.4125rem solid #FFFFFF; 
    
        }
        @include tablet {
            font-size: 1.25rem;
        }
    }

}

.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    @include flex-row; 
    @include hero-position; 
    justify-content: flex-start;
    padding: 0;
    padding-left: 1.875rem;
    height: 14rem;
    @include tablet {
        height: 27rem; 
    } 
    @include desktop {
        height: 40rem;
    }

&__opacity { 
    background: rgba(0, 0, 0, 0.5);
}
&__title {
    font-size: 2rem; 
    line-height: 2rem; 
    color: $primary-colorWhite; 
    margin-bottom: 1.25rem;

    @include tablet {
        font-size: 3.75rem;
        font-weight: 500;
    }
}
}

.bio-section {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    

    @include tablet {
        display: flex;
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        padding-left: 2.25rem;
        padding-right: 2.25rem;

    }

&__image {
    width: 100%;
    padding-bottom: 1rem;
    @include tablet {
        padding-left: 3rem; 
        padding-right: 3rem;
    }
}

&__heading {  
    @include flex-start; 
    font-size: 1.875rem; 
    line-height: 2rem; 
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    color: $primary-colorBlack;
    font-weight: 700;

    @include tablet {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem; ;
    font-size: 2.25rem;
    font-weight: 700; 
    
}
}
&__quotes {
    font-size: 1.0938rem; 
    line-height: 1.8125rem ; 
    color: $primary-colorBlack;
    padding-bottom: 0.4rem; 
    font-weight: 700;

    @include tablet {
        padding-left: 2.1875rem;
        font-size: 1.5313rem;
        line-height: 1.875rem;
    }
}
&__quotes-modifier {
font-size: 1.125rem;
padding-bottom: 1.5625rem;
@include tablet{
    font-size: 1rem;
    padding-bottom: 2rem;
}
}

&__sub-heading {
    
    font-size: 1.125rem;
    font-weight: 500; 
    padding-bottom: 1.125rem;
    color: $primary-colorBlack;

    @include tablet {
        display: flex;
        flex-direction: row;
        padding-left: 2.1875rem;
        padding-top: 1.5rem;
        font-size: 1.5625rem;
        padding-bottom: 1.625rem; 

    }


}
.p-wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2.1875rem;
}
}
&__paragraphfirst {
    
    font-size: .875rem; 
    font-weight: 400;
    line-height: 1.375rem; 
    color: $primary-colorBlack; 
    @include tablet {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;

    }
}
&__paragraphsecond {
    font-size: .875rem; 
    font-weight: 400;
    line-height: 1.375rem;  
    color: $primary-colorBlack;
    padding-bottom: 1.5rem;   
    padding-top: 1.5rem;
padding-bottom: 1rem; 
    @include tablet {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5625rem;
        padding-left: 1.875rem;
        padding-top: 0; 
        padding-bottom: 0; 

    }
}
}

.album-section {
    @include flex-start; 
    padding: 1.25rem;
    background-color: $secondary-colorAlabaster;
    color: $primary-colorBlack; 
    @include tablet {
        display: flex;
        justify-content: center;
        padding: 36px;
        padding-top: 46px;
    }

&__heading {
    
    font-size: 1.5rem;
    font-weight: 700;
    font-size: 1.875rem; 
    padding-bottom: 1.5rem; 

    @include tablet {
        font-size: 2.25rem; 
    }

}

&__gallery {
    @include flex-start; 
    gap: 1.25rem; 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover {
        -webkit-filter: grayscale(0) !important; /*https://robinroelofsen.com/change-images-grayscale-color-hover */
        filter: grayscale(0) !important;
    }
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: .625rem;
        width: 100%;
        flex-direction: row;
        gap: 1.75rem;
    }
}

&__image { 
width: 100%;
// height: auto;
@include tablet {
    // flex: 1 1 30%;
    // object-fit: cover;
    max-width: 30%;
    
}
}

}
