@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Alternative-files/NunitoSans-Bold.woff") format("woff"), url "../assets/fonts/NunitoSans-Bold.woff2" format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Alternative-files/NunitoSans-ExtraBold.woff2") format("woff"), url("../assets/fonts/Alternative-files/NunitoSans-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format(woff), url("../assets/fonts/NunitoSans-Regular.woff2") format(woff2);
  font-weight: 400;
}
h1 {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 2rem;
}

h2 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h3 {
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 22px;
}

p {
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

a {
  font-family: "Nunito Sans";
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
}

h4 {
  font-family: "Nunito Sans";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans";
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  padding-top: 0.875rem;
  padding-bottom: 1rem;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header__nav {
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }
}
.header__logo {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    flex-direction: row;
  }
}
.header__logo-img {
  width: 7.5rem;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .header__logo-img {
    width: 7.5rem;
  }
}
.header__list {
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}
.header__item {
  text-align: center;
  border-bottom: 0.2125rem solid transparent;
  color: #FFFFFF;
}
.header__link {
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0.44rem;
  padding-top: 0.75rem;
  font-size: 1.25rem;
  color: #FFFFFF;
}
.header__link:hover {
  border-bottom: 0.4125rem solid #FFFFFF;
}
.header__link-passive {
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.25rem;
  color: #E1E1E1;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  background-position: center;
  align-items: center;
  position: relative;
  height: 14rem;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 40rem;
  }
}
.hero__opacity {
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__title {
  color: #FFFFFF;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    font-weight: 500;
  }
}

.bio-section {
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .bio-section {
    display: flex;
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
.bio-section__image {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__image {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.bio-section__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.875rem;
  line-height: 2rem;
}
.bio-section__quotes {
  color: #323232;
  padding-bottom: 1.125rem;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes {
    padding-left: 35px;
    font-size: 24.5px;
    line-height: 30px;
  }
}
.bio-section__quotes-modifier {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .bio-section__quotes-modifier {
    font-size: 18px;
    font-weight: 500;
  }
}
.bio-section__sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 1.125rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .bio-section__sub-heading {
    display: flex;
    flex-direction: row;
  }
}
.bio-section .p-wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .bio-section .p-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.bio-section__paragraphfirst {
  color: #323232;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphfirst {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
}
.bio-section__paragraphsecond {
  color: #323232;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .bio-section__paragraphsecond {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.album-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25rem;
  background-color: #FAFAFA;
  color: #323232;
  /* Create three equal columns that sits next to each other */
}
@media screen and (min-width: 768px) {
  .album-section {
    display: flex;
    justify-content: center;
  }
}
.album-section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 1.875rem;
  padding-bottom: 1.5rem;
}
.album-section__gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.25rem;
}
@media screen and (min-width: 768px) {
  .album-section__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
    flex-direction: row;
  }
}
.album-section__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .album-section__image {
    max-width: 30%;
  }
}
.album-section .footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #FFFFFF;
}
.album-section .footer__heading {
  padding-left: 1rem;
  color: #FFFFFF;
  padding-top: 2.1875rem;
}
.album-section .footer__paragraph {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 1.5625rem;
}
.album-section .footer__entity-name {
  display: flex;
  padding: 1rem;
  gap: 1.25rem;
}
.album-section .footer__entity-address {
  display: flex;
  padding: 0.75rem;
  gap: 1.25rem;
}
.album-section .footer__email {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding: 0.75rem;
  gap: 1.25rem;
  color: #FFFFFF;
}
.album-section .footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  gap: 1.25rem;
  padding-top: 2.5rem;
  width: 7.5rem;
}
.album-section .footer__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-bottom: 1.5625rem;
  padding-top: 1.5625rem;
  gap: 1.25rem;
}/*# sourceMappingURL=bio.css.map */