@use "./partials/mixin" as *;
@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

/* -----------------
Hero-section 
__________________________*/

.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("../assets/images/hero-bio.jpg");
	@include flex-row;
	@include hero-position;
	justify-content: flex-start;
	padding: 0;
	padding-left: 1.875rem;
	height: 14rem;
	@include tablet {
		height: 27rem;
	}
	@include desktop {
		height: 40rem;
	}

	&__overlay {
		background: rgba(0, 0, 0, 0.5);
	}
	&__title {
		font-size: 2rem;
		line-height: 2rem;
		color: $primary-colorWhite;
		margin-bottom: 1.25rem;

		@include tablet {
			font-size: 3.75rem;
			font-weight: 500;
		}
		@include desktop {
			padding-left: 7rem;
		}
	}
}

/*--------------------
Bio-section
------------------------*/

.bio-section {
	display: flex;
	flex-direction: column;
	padding-left: 1.25rem;
	padding-right: 1.25rem;

	@include tablet {
		display: flex;
		padding: 3rem 2.25rem 2.25rem 2.25rem;
	}

	&__image {
		width: 100%;
		padding-bottom: 1rem;
		@include tablet {
			padding-left: 3rem;
			padding-right: 3rem;

			@include desktop {
				padding-left: 7rem;
				padding-right: 7rem;
			}
		}
	}

	&__heading {
		@include flex-start;
		color: $primary-colorBlack;
		font-weight: 700;
		font-size: 1.875rem;
		line-height: 2rem;
		padding-top: 1.8rem;
		padding-bottom: 1rem;

		@include tablet {
			padding-bottom: 1.875rem;
			padding-top: 1.875rem;
			font-size: 2.25rem;
			font-weight: 700;

			@include desktop {
				font-size: 2.7rem;
				padding-bottom: 3.2rem;
				padding-top: 2.2rem;
			}
		}
	}
	&__quotes {
		font-size: 1.0938rem;
		line-height: 1.8125rem;
		color: $primary-colorBlack;
		padding-bottom: 0.4rem;
		font-weight: 600;

		@include tablet {
			padding-left: 2.1875rem;
			font-size: 1.5313rem;
			line-height: 1.875rem;
		}
		@include desktop {
			padding-left: 6rem;
			padding-right: 8rem;
			font-size: 1.75rem;
			line-height: 2rem;
			padding-top: 1.875rem;
		}
	}
	&__quotes-modifier {
		font-size: 1.125rem;
		padding-bottom: 1.5625rem;
		font-weight: 600;
		@include tablet {
			font-size: 1rem;
			padding-bottom: 2rem;
		}
		@include desktop {
			font-size: 1.5rem;
			padding-top: 0.625rem;
			font-weight: 500;
		}
	}

	&__sub-heading {
		font-weight: 500;
		padding-bottom: 1.125rem;
		color: $primary-colorBlack;

		@include tablet {
			display: flex;
			flex-direction: row;
			padding-left: 2.1875rem;
			padding-top: 1.5rem;
			font-size: 1.5625rem;
			padding-bottom: 1.625rem;
		}
		@include desktop {
			padding-left: 5rem;
			padding-bottom: 3rem;
			padding-top: 2.5rem;
			font-size: 1.875rem;
		}
	}
	.p-container {
		display: flex;
		flex-direction: column;

		@include tablet {
			@include flex-row;
			padding-left: 2.1875rem;
			@include desktop {
				padding-left: 5rem;
			}
		}
	}
	&__paragraph-one {
		font-size: 0.93rem;
		font-weight: 400;
		line-height: 1.375rem;
		color: $primary-colorBlack;
		@include tablet {
			display: flex;
			flex-direction: row;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5625rem;

			@include desktop {
				font-size: 1.3rem;
				line-height: 2rem;
			}
		}
	}
	&__paragraph-two {
		font-size: 0.93rem;
		font-weight: 400;
		line-height: 1.375rem;
		color: $primary-colorBlack;
		padding-bottom: 1.5rem;
		padding-top: 2.2rem;
		@include tablet {
			display: flex;
			flex-direction: row;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5625rem;
			padding-left: 1.875rem;
			padding-top: 0;
			padding-bottom: 0;
		}
		@include desktop {
			font-size: 1.3rem;
			line-height: 2rem;
		}
	}
}
/*--------------------
Album-section
------------------------*/
.album-section {
	@include flex-start;
	padding: 1.25rem;
	background-color: $secondary-colorAlabaster;
	color: $primary-colorBlack;
	@include tablet {
		display: flex;
		justify-content: center;
		padding: 2.25rem;
		padding-top: 2.875rem;
	}

	&__heading {
		font-size: 1.5rem;
		font-weight: 700;
		font-size: 1.875rem;
		padding-bottom: 1.5rem;

		@include tablet {
			font-size: 2.25rem;
		}
		@include desktop {
			font-size: 3.4rem;
			padding-top: 2.25rem;
		}
	}

	&__details {
		@include flex-start;
		gap: 1.25rem;
		@include tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 0.625rem;
			width: 100%;
			flex-direction: row;
			gap: 1.75rem;
		}
		@include desktop {
			padding-top: 2.25rem;
			padding-left: 1rem;
		}
	}

	&__image {
		width: 100%; /* if i set the width to be a 100%, and set the parent class to be in columns, it will occupy 100% of the availble space in mobile layout, in order to change that for other screens, I have to set the parent container to be flex direction row, and give it a width of 30%, so I can create an album where there are three pictures per row */
		@include tablet {
			max-width: 30%;
		}
	}
}

/* ---------------------
Form-section
__________________________*/
.form-hero {
	@include desktop {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.form-section__conversations {
	padding-top: 2.5rem;
	padding-left: 1.25rem;
}

.item-name {
	padding-bottom: 0.3125rem;
	font-size: 1rem;
}
.item-comment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-top: 1.875rem;
	font-size: 1rem;
	padding-bottom: 0.3125rem;
	padding-left: 0.4rem;
}

.form-section__header {
	font-size: 2.3rem;
	padding: 1.25rem;
	padding-bottom: 3.125rem;

	@include tablet {
		padding-bottom: 5.625rem;
	}

	@include desktop {
		font-size: 3.125rem;
		font-weight: 500;
	}
}

#item-form {
	display: flex;
	width: 100%;
	padding: 0.75rem;
}

#itemInput {
	@include flex-start;
	align-items: flex-start;
	width: 90%;
	height: 2.25rem;
	border-radius: 0.25rem;
	border-color: $secondary-colorMercury;
	background-color: $secondary-colorAlabaster;
	font-size: 1rem;
	color: $primary-colorBlack;
	padding-top: 0.125rem;
	padding-left: 1rem;
	font-family: "Nunito Sans";
	color: $primary-colorBlack;
	margin: 0.4rem;
	height: 6vh;
}

#itemComment {
	@include flex-column;
	width: 90%;
	height: 20vh;
	border-radius: 0.25rem;
	border-color: $secondary-colorMercury;
	background-color: $secondary-colorAlabaster;
	color: $primary-colorBlack;
	font-size: 1.2rem;
	padding-top: 0.625rem;
	padding-left: 1rem;
	font-family: "Nunito Sans";
	color: $primary-colorBlack;
	margin: 0.4rem;
}

.border-bottom {
	color: $secondary-colorMercury;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0.625rem;
	padding-left: 2.5rem;
}

#dynamicContent {
	border-bottom: 1px solid $secondary-colorMercury; //using px units for borders
	padding-bottom: 1.875rem;
	padding-left: 1.875rem;
	list-style: none;
	width: 100%;
	border-top: 1px solid $secondary-colorMercury;

	@include tablet {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	@include desktop {
		@include flex-column;
		width: 50%;
	}
}

.image-wrapper {
	width: 10%;
	padding-left: 1.25rem;
	margin-bottom: -10%;
	position: absolute;
	@include desktop {
		margin-bottom: -12%;
		padding-left: 0.75rem;
	}
}

.item-image {
	border-radius: 50%;
	width: 2.25rem;
	height: 2.25rem;
	margin-top: 1.3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	@include tablet {
		width: 2.875rem;
		height: 2.875rem;
	}
}
button {
	@include flex-column;
	padding-left: 6.25rem;
	padding-right: 6.25rem;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: $primary-colorBlack;
	color: $primary-colorWhite;
	width: 100%;
	@include tablet {
		min-width: 150px;
		padding-left: 2rem;
		padding-right: 2rem;
		width: 36%;
	}
	@include desktop {
		min-width: 250px;
	}
}

.button-container {
	color: #fff;
	border: none;
	padding: 3rem 3rem;
	cursor: pointer;
	font-size: 1.3125rem;
	font-family: "Open Sans";
	font-weight: 400;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	@include tablet {
		justify-content: flex-end;
		display: flex;
		flex-direction: row;
	}
}

.wrapper {
	display: flex;
	align-items: flex-end;
	&__avatar {
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		background-color: $secondary-colorMercury;
		display: flex;
		flex-direction: column;
		margin-top: 1.25rem;
	}
	&__name {
		padding-top: 1.25rem;
		font-weight: 500;
		padding-top: 1.25rem;
		font-size: 1.3rem;
		margin: 0.625rem;
		@include tablet {
			font-size: 1.8rem;
		}
	}
	&__dateTime {
		padding-left: 4.375rem;
		padding-top: 1.25rem;
		color: $secondary-colorMercury;
		display: flex;
		margin: 0.625rem;
		align-items: flex-end;
		font-size: 1rem;

		@include tablet {
			padding-left: 26rem;
			font-size: 1.8rem;
		}
		@include desktop {
			justify-content: center;
		}
	}
}

.comment-wrapper {
	border-bottom: 1px solid $secondary-colorMercury;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	&__comment {
		padding: 1.25rem;
		padding-left: 1.875rem;
		font-size: 1.3rem;
		@include tablet {
			font-size: 1.5rem;
		}
	}
}
